*{
    margin:0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
/*nav*/
#page{
    padding-top: 30px;
    height: 150px;
    color: rgb(178, 18, 162);
}
 
#page ul{
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;

}
#page ul li{
    margin: 0px 20px 0 0px;
}
#page a:hover{
    color: red;
    font-style:italic;
}
label, #toggle
{
    display: none;
}
/*home page*/
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(237, 242, 254);
    margin: auto;
    height: 915px;
    padding: 0;
}
.grid .content{
    text-align: center;
    font-weight: bold;
}
.grid h1{
    background-image:url("1-page accueil/ciel-rogner.png");
    height: 193px;
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Metamorphous', cursive;
    color: rgb(168, 94, 94);
    -webkit-text-stroke: rgb(65, 18, 199) 0.5px;
    text-shadow : 5px 5px 5px yellow;
}

/*img*/
.imageAcc{
    grid-row: 2 / span 3;
    width: 100%;
    height: 725px;
}
#tag{
    width: 100%;
    height: 100%;
}

/*paragraphe*/
#firstP{
    font-family: 'Irish Grover', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




























/*mediaQ*/

@media all and (max-width: 1450px){
    #page{
        margin: 0;
        height: 60px;

    }
    #page ul{
        display: none;
        height: 220px;
    }

    label{

    }

    #toggle:checked + ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px 0;
        margin: 10px 0;
    }
    #toggle:checked + ul li{
        background-color: rgb(237, 242, 254);
        z-index: 5;
    }
    nav a{
        
    }
    nav a:hover{
        color: red;
        font-style:italic;
    }
    .grid h1{
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .grid{
        display: block;
        height: 740px;
    }
    #firstP{
        font-size: 20px;
        height: 150px;
        padding: 0 10px;
    }
    .grid .image{
        width: 100%;
        height: 0;
    }
    .grid img{
        width: 100%;
        height: 340px;
        
    }
    /*nous connaitre*/
    .titre2{
        margin-top: 50px;
        justify-content: center;
        font-size: 30px;
    }
    .nous{
        height:0;
    }
    .nous p{
        margin-top:25px;
        line-height: 2.4;
        color: blue;
        font-size: 20px;
    }
    /*page4
    .post-cont{
        width: 100%;
        margin: 0;
    }
    .post{
        visibility: hidden;
    }
.timbre{
    visibility: hidden;
}
.essaie{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name-c{
    width: 100%;
    height: 30px;
    margin-left: 0;
    margin-top: 0;
}
.mailc{
    width: 177px;
    height: 30px;
    margin-left: 0;
    margin-top: 0;
}
textarea{
    width: 310px;
    height: 250px;
    margin-left: 0;
    margin-top: 0;
}

}

@media all and (max-width: 1407px){
    /*page4
    .page4{}

    .contact{
        margin: 0;
        background-color: black;
        width: 100%;
        height: 740px;
    }
    .post{
        visibility: hidden;
    }
    .gridForm{
        margin: 0;
    }
}

    @media all and (min-width: 1544px){
    #burg{
        visibility: hidden;
    }
}



/*@media all and (min-height: 800px){
    .grid{
        width: 100%;
        height: 1453px;
    }
    }*/ 
 
 

